@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

@theme {
	--color-taxi: #fece01;
	--font-poppins: 'Poppins';
	--font-montserrat: 'Montserrat';
	--font-nunito: 'Nunito';
	--breakpoint-3xl: 120rem;
	--breakpoint-4xl: 160rem;
	--breakpoint-5xl: 200rem;
}
